<div class="container">
  <h1>inline edit with turbo-frame-tag</h1>
  <div class="planet-table my-4 border-bottom font-weight-bold">
    <span>Name</span>
    <span>Size (km)</span>
    <span>Edit</span>
  </div>
  <% @planets.each do |planet| %>
    <%= render "planet_card", planet: planet %>
  <% end %>
</div>
<hr>
