<h1>PLANETS</h1>
<%= image_tag "https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Planets2013.svg/1200px-Planets2013.svg.png", class: "img-fluid" %>
<ul class="nav nav-pills mt-5">
  <li class="nav-item">
    <%= link_to "Telluric planet", telluric_planets_path, data: {"turbo-frame": :"tabs_content"}, class: "nav-link active" %>
  </li>
  <li class="nav-item">
    <li><%= link_to "Gas planet", gas_planets_path, data: {"turbo-frame": :"tabs_content"}, class: "nav-link" %></li>
  </li>
</ul>

<hr>
<%# CONTENT %>
<div class="content">
  <%= turbo_frame_tag "tabs_content", src: telluric_planets_path %>
</div>
